/* h1{
    color: blue;
}
p{
    font-size: 30px;
    background-color: grey;
    color: white;
    text-decoration: underline;
    text-transform: capitalize;
    text-align: justify;
    line-height: 50px;
    word-spacing: 20px;
    letter-spacing: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 1000;
} */


/* li:nth-child(3){
    color: red;
} */
/* 
p:nth-child(3){
    color: red;
} */


/* ul li:nth-child(2) h1{
    color: red;
    background-color: aqua;
} */