
body,*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    background-color: aqua ;
    padding: 40px 0;
}

header .logo{
    float: left;
    width: 20%;
    margin-left: 300px;
}

header nav {
    float: left;
    width: 60%;
}
header nav ul li{
    float: left;
    margin-left: 100px;
}