
/* em or rem = 16px  */
/* html{
    font-size: 15px;
}
div{
    font-size: 20px;
}
p{
    font-size:3em;
} */



/* div{
    width: 50%;
    height: 50vh;
    background-color: red;
} */




/* h1{ */
    /* color: red; */
    /* 0123456789abcdef */
    /* color: #red green blue; */
    /* color: #b32727ad; */
    /* rgb = red green blue */
    /* 0-min max-255 */
    /* color: rgb(255, 0, 0); */
    /* color: hwb(65 9% 45%); */
/* } */