.active,.carousel-control-prev,.carousel-control-next{
    background-color: #333 !important;
    box-shadow: none !important;
    border: none !important;
    color: orange !important;
}


nav{
    padding: 15px !important;
    svg{
        font-size: 24px !important;
    }
}